<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Serbinario - SAES!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
            <link rel="stylesheet" href="{{asset('css/zabuto_calendar.min.css')}}" />
            <!-- tamplate -->
            <link rel="stylesheet" href="{{asset('font-awesome/css/font-awesome.css')}}" />
            
            <!-- plugins -->
            <link rel="stylesheet" href="{{asset('css/plugins/select2/select2.min.css')}}" />
            <link rel="stylesheet" href="{{asset('css/plugins/iCheck/custom.css')}}" />
            
            <link rel="stylesheet" href="{{asset('css/animate.css')}}" />
            <link rel="stylesheet" href="{{asset('css/style.css')}}" />
            <link href="{{asset('css/plugins/iCheck/custom.css')}}" rel="stylesheet">
            <link href="{{asset('css/plugins/steps/jquery.steps.css')}}" rel="stylesheet">

            <!-- Ionicons -->
            <link href="{{ asset('css/ionicons.min.css') }}" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="{{asset('css/_all-skins.min.css')}}" />
            <link rel="stylesheet" href="{{asset('css/jquery.datetimepicker.css')}}" />
            <link rel="stylesheet" href="{{asset('css/bootstrapValidator.min.css')}}" />
            <style type="text/css" rel="stylesheet">
                {#input[type='text']{ text-transform: uppercase; }#}

            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="http://www.serbinario.com.br/wp-content/uploads/2015/09/ser-ico.png" />
    </head>

    <body class="pace-done">
        <div id="wrapper ">
        {% block body %}
            {#  Menu lateral  #}
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <span>
                                    {% if  app.security.getToken().getUser().getFoto() != null %}
                                        <img alt="image" class="img-circle" style="width: 48px; height: 48px;" src="{{ asset(app.security.getToken().getUser().getFoto().getWebPath()) }}" />
                                    {% else %}
                                        <img src="{{asset('img/profile_small.jpg')}}" class="img-circle" alt="User Image"/>
                                    {% endif %}
                                </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ app.security.getToken().getUser().getCgm().getNome() }}</strong>
                                        </span>  </span> </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a href="{{path('home')}}">Home</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{path('logout')}}">Sair</a></li>
                                </ul>
                            </div>
                            <div class="logo-element">
                                <span><b>A</b>MD</span>
                            </div>
                        </li>
                        <li class="{% if menu is defined and menu == 1 %}active{% endif %}">
                            <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Cadastros</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                {% if is_granted('ROLE_ADMIN') 
                                        or is_granted('ROLE_AGENDAMENTO_MEDICO_CADASTRAR')  
                                        or is_granted('ROLE_AGENDAMENTO_MEDICO_ALTERAR')
                                        or is_granted('ROLE_AGENDAMENTO_MEDICO_VISUALIZAR')
                                        or is_granted('ROLE_AGENDAMENTO_MEDICO_DELETAR')%}
                                    <li><a href="{{path('gridMedico')}}">Especialista</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') 
                                        or is_granted('ROLE_AGENDAMENTO_AGENDAMEDICO_CADASTRAR')                                           
                                        or is_granted('ROLE_AGENDAMENTO_AGENDAMEDICO_VISUALIZAR')%}
                                    <li><a href="{{ path('gridAgendaMedico') }}">Agenda Médico</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') 
                                        or is_granted('ROLE_AGENDAMENTO_ESPECIALIDADE_CADASTRAR')  
                                        or is_granted('ROLE_AGENDAMENTO_ESPECIALIDADE_ALTERAR')
                                        or is_granted('ROLE_AGENDAMENTO_ESPECIALIDADE_VISUALIZAR')
                                        or is_granted('ROLE_AGENDAMENTO_ESPECIALIDADE_DELETAR')%}
                                    <li><a href="{{path('gridEspecialidade')}}">Especialidade</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') 
                                        or is_granted('ROLE_AGENDAMENTO_LOCALIDADE_CADASTRAR')  
                                        or is_granted('ROLE_AGENDAMENTO_LOCALIDADE_ALTERAR')
                                        or is_granted('ROLE_AGENDAMENTO_LOCALIDADE_VISUALIZAR')
                                        or is_granted('ROLE_AGENDAMENTO_LOCALIDADE_DELETAR')%}
                                    <li><a href="{{path('gridLocalidade')}}">Localidade</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') 
                                        or is_granted('ROLE_AGENDAMENTO_PSF_CADASTRAR')  
                                        or is_granted('ROLE_AGENDAMENTO_PSF_ALTERAR')
                                        or is_granted('ROLE_AGENDAMENTO_PSF_VISUALIZAR')
                                        or is_granted('ROLE_AGENDAMENTO_PSF_DELETAR')%}                                      
                                    <li><a href="{{path('gridPsf')}}">Postos de Saúde</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="{% if menu is defined and menu == 2 %}active{% endif %}">
                            <a href="#"><i class="fa fa-calendar"></i> <span class="nav-label">Consulta</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                {% if is_granted('ROLE_ADMIN') 
                                        or is_granted('ROLE_AGENDAMENTO_AGENDAMENTO_CADASTRAR')                                           
                                        or is_granted('ROLE_AGENDAMENTO_AGENDAMENTO_VISUALIZAR')%}
                                <li><a href="{{path('agendamento')}}" data="2" class="mmmm">Agendamento</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="{% if menu is defined and menu == 3 %}active{% endif %}">
                            <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Administrador</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{{path('gridUser')}}">Usuários</a></li>
                                <li><a href="{{path('consultaCGM')}}">CGM</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_DEV') %}
                        <li class="{% if menu is defined and menu == 4 %}active{% endif %}">
                            <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Desenvolvedor</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{{path('gridProjetos')}}">Projetos</a></li>
                                <li><a href="{{path('gridAplicacao')}}">Aplicações</a></li>
                                <li><a href="{{path('gridPermissao')}}">Permissões</a></li>
                                <li><a href="{{path('gridPerfil')}}">Perfís</a></li>
                                
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        {% endblock %}
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>

            <!-- Include all JavaScripts, compiled by Assetic -->
            <script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/plugins/metisMenu/jquery.metisMenu.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/plugins/slimscroll/jquery.slimscroll.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/inspinia.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/plugins/pace/pace.min.js')}}"></script>
            
            <!-- Jquery Validate -->
            <script src="{{asset('js/plugins/validate/jquery.validate.min.js')}}"></script> 
            
            <!-- Steps -->
            <script src="{{asset('js/plugins/staps/jquery.steps.min.js')}}"></script>
            
            <!-- plugins -->
            <script type="text/javascript" src="{{asset('js/plugins/select2/select2.full.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/plugins/iCheck/icheck.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/jquery.mask.js')}}"></script>
            
            <script type="text/javascript" src="{{asset('js/zabuto_calendar.min.js')}}"></script>

            <!-- include form validation  -->
            <script type="text/javascript" src="{{asset('js/bootstrapValidator.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/jquery.datetimepicker.js')}}"></script>
            <script src="{{ asset('js/fastclick.min.js') }}"></script>
            <script type="text/javascript" >
                $(document).ready(function () {
                    $('.datepicker').datetimepicker({
                        format: 'd/m/Y H:i',
                        mask: false,
                        lang: 'pt-BR'
                    });

                    $('.datenottime').datetimepicker({
                        format: 'd/m/Y',
                        mask: false,
                        timepicker: false,
                        lang: 'pt-BR'
                    });

                    $('.timepicker').datetimepicker({
                        format: 'H:i:s',
                        datepicker: false,
                        timepicker: false,
                        mask: true,
                        lang: 'pt-BR'
                    });
                    
                    // Add slimscroll to element
                    $('.scroll_content').slimscroll({
                        height: '200px'
                    })
                   
                    
                });
                
                {#$(document).on('click', '.mmmm', function(e){
                    e.preventDefault()
                    var number = $(this).attr('data');
                        if (number === '2') {
                            console.log(number);
                           
                            {{ app.session.set('teste', "2") }}
                            window.location.href = $(this).attr('href');
                        } else if (number === '3') {
                            console.log(number);
                        
                            {{ app.session.set('teste', "3") }}
                            window.location.href = $(this).attr('href');
                        }
                });#}
                
            </script>
        {% endblock %}
    </body>
</html>
