{% extends "::base.html.twig" %}

{% set menu = '2' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- FullCalendar -->
    <link type="text/css" rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar.css')}}">
    <link type="text/css" rel="stylesheet" href="{{ asset('fullcalendar/fullcalendar.print.css')}}" media="print">    

    <!-- Responsive Calendar -->
    <link type="text/css" rel="stylesheet" href="{{ asset('calendar-responsive/responsive-calendar.css')}}" rel="stylesheet">
    <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">-->

    <style>
        #container {
            margin: 30px;
        }

        #responsive-calendar {
            padding-right: 30px;
        }

        #my-calendar {                       
        }

        #formulario_div {
            margin-left: 34px;
        }

        .blue {
            background: #0070a3;
            color: white;
        }

        .gray {
            background: #999999;
            color: white;
        }
        
        .red {
            background: #800;
            color: white;
        }
    </style>
{% endblock %}

{% block body  %}
    {{parent()}}

    <div id="page-wrapper" class="gray-bg">

        {% include 'SaudeBundle:Default:menu_topo.html.twig' %}

        {# título da página  #}
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>Agenda</h2>
                {#<ol class="breadcrumb">
                    <li>
                        <a href="index.html">This is</a>
                    </li>
                    <li class="active">
                        <strong>Breadcrumb</strong>
                    </li>
                </ol>#}
            </div>
        </div>

        {# Conteúdo principal   #}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4>Alerta!</h4>
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Agendamento</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="fullscreen-link">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row" id="container">
                                <!-- Responsive Calendar -->
                                <div class="col-md-3" id="responsive-calendar" style="width: 216px; margin-top: 12px;">
                                    <div class="row">
                                        <!-- Responsive Calendar -->
                                        <div class="col-md-3" id="responsive-calendar" style="width: 216px; margin-top: 12px;">
                                            <div class="row">
                                                <div id="my-calendar"></div>
                                            </div>                           
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="panel panel-primary">
                                            <!-- Default panel contents -->
                                            <div class="panel-heading">AGENDAS PROFISSIONAIS</div>
                                            <div class="panel-body">
                                                <form class="form">
                                                    <select class="form-control select2" id="especialidade">
                                                        <option>Especialidades</option>
                                                        {% for especializacoe in especializacoes %}
                                                            <option value="{{especializacoe.idEspecialidade}}">{{especializacoe.cbo.descricao}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </form>
                                            </div>

                                            <!-- List group -->
                                            <ul class="list-group" id="medicosList">
                                                {#{% for medico in medicos %}
                                                    <a href="{{path('agendamentoByMedico', {'id' : medico.idMedico })}}" class="list-group-item">{{medico.cgm.nome}}</a>
                                                {% endfor %}#}
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- FullCalendar -->
                                <div class="col-md-9">
                                    <div id="fullcalendar"></div>                
                                </div>
                            </div>
                        </div>
                        <div class="ibox-footer">
                            
                            <!-- Modal de cadastro do agendamento-->
                            <div class="modal fade modal-profile" tabindex="-1" role="dialog" aria-labelledby="modalProfile" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="close" type="button" data-dismiss="modal">×</button>
                                            <h4 class="modal-title">Realizar agendamento</h4>
                                        </div>
                                        <div class="modal-body" style="alignment-baseline: central">
                                            {{ form_start(form, { 'style': 'horizontal', 'attr': {'id': 'formulario'}}) }}
                                                <input type="hidden" name="idAgendamento" value="" id="idAgendamento">
                                                <input type="hidden" name="diaCalendario" id="diaCalendario">
                                                {#{{ form_row(form.pacientePaciente) }}#}
                                                {{ form_row(form.observacaoAgendamento) }}
                                                {{ form_row(form.statusAgendamento) }}
                                            {{ form_end(form) }}
                                            {#<form action="{{path('savePaciente')}}" role="form" method="POST">
                                                <div class="form-group col-lg-12">
                                                    <label for="email">Nomde do Paciente</label>
                                                    <input type="text" class="form-control" name="nome" id="nome" />
                                                    <input type="hidden" class="form-control" value="{{id}}" name="idMedico" id="idMedico" />
                                                    <input type="hidden" class="form-control" value="" name="data" id="data" />
                                                </div>
                                                <div class="col-md-3 column">
                                                    <div class="form-group">
                                                        <button type="submit" id="salvar" class="btn btn-primary">Salvar</button>
                                                    </div>
                                                </div>
                                            </form>#}
                                        </div>
                                        {#<div class="modal-footer">                                            
                                            <button class="btn btn-default" data-dismiss="modal">Fechar</button>
                                        </div>#}
                                    </div>
                                </div>
                            </div>
                                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'SaudeBundle:Default:rodape.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    <!-- FullCalendar --> 
    {{parent()}}
    <script type="text/javascript" src="{{asset('fullcalendar/moment.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('fullcalendar/fullcalendar.min.js')}}"></script>

    <!-- Responsive Calendar -->
    <script type="text/javascript" src="{{asset('calendar-responsive/responsive-calendar.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/pt-br.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery.qtip.min.js')}}"></script> 
    
    <!-- Scripts -->
    <script type="text/javascript">
        $(document).ready(function () {
            
            //Fullcalendar
            $('#fullcalendar').fullCalendar({
                editable: true,
                eventLimit: true, 
                
                //Carrega os eventos no fullcalendar
                events: function (start, end, timezone, callback) {
                    jQuery.ajax({
                        url: '{{path('getCalendarioBig')}}',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            start: start.format(),
                            end: end.format(),
                            data: "{{ id }}"
                        },
                        success: function (doc) {
                            
                            var events = [];
                            if (!!doc) {
                                $.map(doc, function (r) {
                                    events.push({
                                        title: r.title,
                                        start: r.date_start,
                                        overlap: r.overlap,
                                        rendering: r.rendering,
                                        color: r.color,
                                        id: r.color,
                                        idPaciente: r.idPaciente,
                                        idAgendamento: r.idAgendamento,
                                    });
                                });
                            }       
                            
                            callback(events);
                        }
                    });
                },
                
                eventRender: function(event, element) {
                  
                },
                                
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_AGENDAMENTO_AGENDAMENTO_CADASTRAR')%}
        
                //Envento do click no dia do calendário
                dayClick: function (date, allDay, jsEvent, view) {
                    var idMedico = "{{id}}";
                    var data = date.format();

                    var dados = {
                        idMedico: idMedico,
                        data: data
                    }

                    jQuery.ajax({
                        type: 'POST',
                        url: '{{path('validarDiaMedico')}}',
                        data: dados,
                        datatype: 'json'
                    }).done(function (json) {

                        if (json['msg'] === "sucesso") {                           
                            $("#serbinario_bundle_saudebundle_agendamento_pacientePaciente").prop("disabled", false);
                            $("#serbinario_bundle_saudebundle_agendamento_pacientePaciente").children("option:eq(0)").prop("selected", true);
                            $("#serbinario_bundle_saudebundle_agendamento_statusAgendamento").prop("checked", false);
                            $("#serbinario_bundle_saudebundle_agendamento_observacaoAgendamento").val("");
                            //document.getElementById('serbinario_bundle_saudebundle_agendamento_pacientePaciente').selectedIndex = -1;
                            $("#diaCalendario").val(data);
                            $(".modal-profile").modal({show: true});
                        } else {
                            alert("Não é possível fazer agendamentos para este dia");
                        }

                    });
                },
                
                //Evento do click no objeto
                eventClick: function(calEvent, jsEvent, view) {                
                    var data       = calEvent.start._i;
                    var idMedico   = "{{ id }}";
                    var idPaciente = calEvent.idPaciente; 
                    
                    jQuery.ajax({
                        url: '{{path('getPacienteAgendado')}}',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            'data' :data,
                            'idMedico' : idMedico,
                            'idPaciente' :idPaciente
                        },
                        success: function (data) {
                            
                            $("#diaCalendario").val(data.data);   
                            $("#idAgendamento").val(data.idAgendamento);
                            $("#serbinario_bundle_saudebundle_agendamento_pacientePaciente option").each(function (index, element) {                                
                                if($(element).val() == data.idPaciente) {
                                    $(element).prop("selected", true);
                                }
                            });                            
                            $("#serbinario_bundle_saudebundle_agendamento_pacientePaciente").prop("disabled", true);
                            $("#serbinario_bundle_saudebundle_agendamento_observacaoAgendamento").val(data.observacao);
                            
                            if(data.status) {
                                $("#serbinario_bundle_saudebundle_agendamento_statusAgendamento").prop('checked', true);
                            } else {
                                $("#serbinario_bundle_saudebundle_agendamento_statusAgendamento").prop('checked', false);
                            }                      
                            
                            $(".modal-profile").modal({show: true});
                        }
                    });
                    
                }
                {% endif %}
            });
            
            //Calendário zabuto | calendário "pequeno"
            $.ajax({
                url: "{{ path("getCalendario")}}",
                method: "POST",
                data: {"id": "{{ id }}"},
                success: function (data) {
                    //Criação do calendário Zabuto
                    $("#my-calendar").zabuto_calendar({
                        action: function () {
                            //Recuperando o elemento
                            var elemento = document.getElementById(this.id);

                            //Verificando se ele é ativo ou bloqueado
                            if ($(elemento).hasClass("event-styled")) {
                                var arrayData = this.id.split("_");
                                var data = arrayData[arrayData.length - 1];

                            }
                        },
                        language: "pt",
                        legend: [
                            {type: "block", label: "Ativos", classname: "blue"},
                            {type: "block", label: "Bloqueados", classname: "gray"},
                            {type: "block", label: "Agendados", classname: "red"},
                        ],
                        data: data
                    });
                }
            });
            
            
            //Evento para carregar os médicos se acordo com a especialidade selecionada
            $(document).on("change", "#especialidade", function (event) {
                var especialidade = $(this).find("option:selected").val();
                
                jQuery.ajax({
                    url: '{{path('getMedicosByEpecilidade')}}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        idEspecialidade : especialidade
                    },
                    success: function (data) {
                        var html = '';
                        
                        for (var i = 0; i < data.length; i++) {
                            html += '<a class="list-group-item" href="/SaudeAgenda/web/app_dev.php/agenda/saveAgendamento/'+ data[i].id +'">'+ data[i].nome +'</a>';
                        }
                        
                        $("#medicosList a").remove();                    
                        $("#medicosList").append(html);
                    }
                });
                
            });
        });
         
    </script>
{% endblock %}
