{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        #container {
            margin: 30px;
        }

        #my-calendar {                       
        }

        #formulario_div {
            margin-left: 34px;
        }

        .blue {
            background: #0070a3;
            color: white;
        }

        .gray {
            background: #999999;
            color: white;
        }

        .red {
            background: #800;
            color: white;
        }

    </style>
{% endblock %}

{% block body  %}
    {{parent()}}

    <div id="page-wrapper" class="gray-bg">

        {% include 'SaudeBundle:Default:menu_topo.html.twig' %}

        {# título da página  #}
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>Cadastros</h2>
                {#<ol class="breadcrumb">
                    <li>
                        <a href="index.html">This is</a>
                    </li>
                    <li class="active">
                        <strong>Breadcrumb</strong>
                    </li>
                </ol>#}
            </div>
        </div>

        {# Conteúdo principal   #}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4>Alerta!</h4>
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Cadastro da Agenda dos Médicos</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="fullscreen-link">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <!-- Responsive Calendar -->
                                <div class="col-md-3" id="responsive-calendar" style="width: 216px; margin-top: 12px;">
                                    <div class="row">
                                        <div id="my-calendar"></div>
                                    </div>                           
                                </div>                        
                                <!-- Formulário -->
                                <div class="col-md-9" id="formulario_div">
                                    {{ form_start(form, { 'style': 'horizontal', 'attr': {'id': 'formulario'}}) }}                    
                                    {{ form_widget(form) }}                    
                                    {{ form_end(form) }}                
                                </div>                                            
                            </div>
                        </div>
                        <div class="ibox-footer">

                        </div>
                    </div>
                </div>
            </div>

            {% include 'SaudeBundle:Default:rodape.html.twig' %}
        </div>
    {% endblock %}

    {% block javascripts %}
        {{parent()}}    

        <!-- Scripts -->
        <script type="text/javascript">
            $(document).ready(function () {
                //Estados iniciais dos botões
                function stateInitButtons() {
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_AGENDAMENTO_AGENDAMEDICO_CADASTRAR')%}
                        $("#serbinario_bundle_saudebundle_calendario_actions_edit").attr("disabled", "disabled");
                        $("#serbinario_bundle_saudebundle_calendario_actions_delete").attr("disabled", "disabled");
                        $("#serbinario_bundle_saudebundle_calendario_actions_block").attr("disabled", "disabled");
                        $("#serbinario_bundle_saudebundle_calendario_actions_save").removeAttr("disabled");
                        $("#serbinario_bundle_saudebundle_calendario_diaCalendario").removeAttr("readonly");
                        $("#serbinario_bundle_saudebundle_calendario_localidadeLocalidade option").removeAttr("selected");
            {% elseif is_granted('ROLE_AGENDAMENTO_AGENDAMEDICO_VISUALIZAR') or  is_granted('ROLE_ADMIN') %}
                        $("#serbinario_bundle_saudebundle_calendario_actions_edit").attr("disabled", "disabled");
                        $("#serbinario_bundle_saudebundle_calendario_actions_delete").attr("disabled", "disabled");
                        $("#serbinario_bundle_saudebundle_calendario_actions_block").attr("disabled", "disabled");
                        $("#serbinario_bundle_saudebundle_calendario_actions_save").attr("disabled", "disabled");
                        $("#serbinario_bundle_saudebundle_calendario_actions_cancel").attr("disabled", "disabled");
                        $("#serbinario_bundle_saudebundle_calendario_horarioCalendario_hour").attr("disabled", "disabled");                       
                        $("serbinario_bundle_saudebundle_calendario_horarioCalendario_minute").attr("disabled", "disabled");                        
                        $("#serbinario_bundle_saudebundle_calendario_localidadeLocalidade option").attr("disabled", "disabled"); 
                        $("#serbinario_bundle_saudebundle_calendario_qtdTotalCalendario").attr("disabled", "disabled");                        
                        $("#serbinario_bundle_saudebundle_calendario_qtdReservaCalendario").attr("disabled", "disabled");                        
                        $("#serbinario_bundle_saudebundle_calendario_diaCalendario").attr("disabled", "disabled");
            {% endif %}
                    }

                    //Estados secundário dos botões
                    function stateSecButtons() {
                        $("#serbinario_bundle_saudebundle_calendario_actions_edit").removeAttr("disabled");
                        $("#serbinario_bundle_saudebundle_calendario_actions_delete").removeAttr("disabled");
                        $("#serbinario_bundle_saudebundle_calendario_actions_block").removeAttr("disabled");
                        $("#serbinario_bundle_saudebundle_calendario_actions_save").attr("disabled", "disabled");
                        $("#serbinario_bundle_saudebundle_calendario_diaCalendario").attr("readonly", "readonly");
                    }

                    //Executando o estado inicial dos botões
                    stateInitButtons();

                    //Quando o botão cancelar for clicado
                    $("#serbinario_bundle_saudebundle_calendario_actions_cancel").click(function () {
                        stateInitButtons();
                    });


                    $.ajax({
                        url: "{{ path("getCalendario")}}",
                        method: "POST",
                        data: {"id": "{{ id }}"},
                        success: function (data) {
                            //Criação do calendário Zabuto
                            $("#my-calendar").zabuto_calendar({
                                action: function () {
                                    //Recuperando o elemento
                                    var elemento = document.getElementById(this.id);
                                    var arrayData = this.id.split("_");
                                    var data = arrayData[arrayData.length - 1];
                                    //Verificando se ele é ativo ou bloqueado
                                    if ($(elemento).hasClass("event-styled")) {

                                        $.ajax({
                                            url: "{{ path('getCalendarioByDate') }}", //URL solicitada
                                            dataType: "JSON", //Tipo de dado de transfência
                                            method: "POST",
                                            data: {"date": data, "idMedico": "{{ id }}"},
                                            success: function (data) {
                                                //Chamadando o estado secundário dos botões
                                                stateSecButtons();

                                                if ($(elemento).find("div").hasClass("red")) {
                                                    $("#serbinario_bundle_saudebundle_calendario_actions_delete").attr("disabled", "disabled");
                                                }

                                                if (data) {
                                                    $("#serbinario_bundle_saudebundle_calendario_horarioCalendario_hour").removeAttr("selected");
                                                    $("serbinario_bundle_saudebundle_calendario_horarioCalendario_minute").removeAttr("selected");
                                                    $("#serbinario_bundle_saudebundle_calendario_localidadeLocalidade option").removeAttr("selected");

                                                    $("#serbinario_bundle_saudebundle_calendario_qtdTotalCalendario").val(data.qtdTotalCalendario);
                                                    $("#serbinario_bundle_saudebundle_calendario_qtdReservaCalendario").val(data.qtdReservaCalendario);
                                                    $("#serbinario_bundle_saudebundle_calendario_diaCalendario").val(data.diaCalendario);
                                                    $("#serbinario_bundle_saudebundle_calendario_horarioCalendario_hour option:contains(" + data.hour + ")").attr("selected", true);
                                                    $("serbinario_bundle_saudebundle_calendario_horarioCalendario_minute option:contains(" + data.minute + ")").attr("selected", true);
                                                    $("#serbinario_bundle_saudebundle_calendario_localidadeLocalidade option:contains(" + data.localidade + ")").attr("selected", true);
                                                }
                                            }
                                        });
                                    } else {
                                        var newDate = new Date(data);
                                        var dia = newDate.getDate().toString().length === 1 ? "0" + (newDate.getDate() + 1) : (newDate.getDate() + 1);
                                        var mes = newDate.getMonth().toString().length === 1 ? "0" + (newDate.getMonth() + 1) : newDate.getMonth() + 1;
                                        var ano = newDate.getFullYear();

                                        $("#serbinario_bundle_saudebundle_calendario_diaCalendario").val(dia + "/" + mes + "/" + ano);
                                    }
                                },
                                language: "pt",
                                legend: [
                                    {type: "block", label: "Ativos", classname: "blue"},
                                    {type: "block", label: "Bloqueados", classname: "gray"},
                                    {type: "block", label: "Agendado", classname: "red"},
                                ],
                                data: data
                            });
                        }
                    });
                }
            });
	
	         
            
        });
        $(document).ready(function(){
            $(".select2").select2();
            $('#serbinario_bundle_saudebundle_calendario_actions_cancel').removeClass("btn-default");
            $('#serbinario_bundle_saudebundle_calendario_actions_cancel').addClass("btn-success");
        });
    </script>

{% endblock %}
