{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Cadastros
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }} alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4>Alerta!</h4>
                        {{ flash }}
                    </div>
                {% endfor %}
            {% endfor %}
            <!-- Default box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cadastro de Aplicações</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    {{ form_start(form, { 'style': 'horizontal' }) }}
                    {{ form_row(form.nomeAplicacao) }} 
                    {{ form_end(form) }}
                </div><!-- /.box-body -->
                <div class="box-footer">

                </div><!-- /.box-footer-->
            </div><!-- /.box -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0
        </div>
        <strong>Copyright &copy; 2004-2015 <a target="__blanck" href="http://www.serbinario.com.br/">Serbinário</a>.</strong> Todos os direitos reservados.
    </footer>
{% endblock %}

{% block javascripts %}     
    {{ parent() }}
    <script type="text/javascript" language="javascript" class="init">
        $('#user a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        });

        $("#serbinario_securitybundle_aplicacao_actions_voltar").click(function () {
            javascript:history.back();
        });
    </script>
{% endblock %}