{% extends "::base.html.twig" %}

{% set menu = '3' %}

{% block body  %}
    {{parent()}}

    <div id="page-wrapper" class="gray-bg">

        {% include 'SaudeBundle:Default:menu_topo.html.twig' %}

        {# título da página  #}
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-6">
                <h2>CGM (CADASTRO GERAL MUNICIPAL)</h2>
                {#<ol class="breadcrumb">
                    <li>
                        <a href="index.html">This is</a>
                    </li>
                    <li class="active">
                        <strong>Breadcrumb</strong>
                    </li>
                </ol>#}
            </div>
        </div>

        {# Conteúdo principal   #}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4>Alerta!</h4>
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>CGM - Pessoa Física</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="fullscreen-link">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        {{ form_start(form, { 'style': 'horizontal', 'id' : 'formInstituicao'}) }}
                        <div class="ibox-content">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li role="presentation"class="active">
                                        <a href="#dadosPessoais"aria-controls="dadosPessoais"role="tab"data-toggle="tab">
                                            Informações básicas</a >
                                    </li >
                                    <li role="presentation">
                                        <a href="#dadosComplementares"aria-controls="dadosComplementares"role="tab"data-toggle="tab">
                                            Documentação</a >
                                    </li >
                                    <li role="presentation">
                                        <a href="#endereco"aria-controls="endereco"role="tab"data-toggle="tab">
                                            Endereço</a >
                                    </li >
                                </ul >
                                <div class="tab-content">
                                    <div class="tab-pane fade in active"id="dadosPessoais">
                                        <br />
                                        {{ form_row(form.nome) }}
                                        {{ form_row(form.sexoSexo) }}
                                        {{ form_row(form.dataNascimento) }}
                                        {{ form_row(form.dataFalecimento) }}
                                        {{ form_row(form.nacionalidade) }}
                                        {{ form_row(form.naturalidade) }}
                                        {{ form_row(form.CGMMunicipio) }}
                                        {{ form_row(form.telefones) }}
                                        {{ form_row(form.email) }}
                                        {{ form_row(form.foto) }}
                                    </div>    
                                    <div class="tab-pane fade"id="dadosComplementares">
                                        <br />
                                        {{ form_row(form.pai) }}
                                        {{ form_row(form.mae) }}
                                        {{ form_row(form.estadoCivil) }}
                                        {{ form_row(form.escolaridade) }}
                                        {{ form_row(form.CpfCnpj) }}
                                        {{ form_row(form.rg) }}
                                        {{ form_row(form.orgaoEmissor) }}
                                        {{ form_row(form.dataExpedicao) }}
                                        {{ form_row(form.numCNH) }}
                                        {{ form_row(form.vencimentoCNH) }}
                                        {{ form_row(form.ctgCNH) }}
                                    </div>
                                    <div class="tab-pane fade"  id="endereco">
                                        <br />
                                        {{ form_row(form.endereco.logradouro) }}
                                        {{ form_row(form.endereco.numero) }}
                                        {{ form_row(form.endereco.comp) }}
                                        {{ form_row(form.endereco.cep) }}
                                        {{ form_row(form.endereco.bairro) }}
                                        {{ form_row(form.endereco.cidade) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-footer">
                            {{ form_row(form.actions) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

        {% include 'SaudeBundle:Default:rodape.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    
    <script type="text/javascript" src="{{asset('js/mask/mask.js')}}"></script>
    <script type="text/javascript">
        // mascara para aceitar apenas letras
        function mascara(o, f) {
                v_obj = o;
                v_fun = f;
                setTimeout("execmascara()", 1);
        }
        function execmascara() {
            v_obj.value = v_fun(v_obj.value);
        }
        function alphanum(v) {
            v = v.replace(/[0-9]+(\s0-9+)*/, "");			//Remove tudo o que não é dígito
            return v;
        }
        
        $(document).on('click', '#escolabundle_cgm_actions_cancel', function () {
            window.location.href = '{{path('consultaCGM')}}';
        });
        
        $(document).on('blur', '#escolabundle_cgm_CpfCnpj', function () {
            var Objcpf = $(this).val();
            var msg = "";
            var retorno = ValidarCPF(Objcpf);
            
            if(retorno === false) {
                $(this).parent().parent().addClass("has-error");
                msg += "<span id='helpBlock2' style='font-size: 11px;' class='help-block'>O CPF informado não é válido</span>";
                $("#helpBlock2").remove();
                $(this).parent().append(msg);
                $('#escolabundle_cgm_actions_save').attr('disabled', true);
            } else {
                $("#helpBlock2").remove();
                $('#escolabundle_cgm_actions_save').attr('disabled', false);
            }
        });
        
        function ValidarCPF(Objcpf){
                var cpf = Objcpf;
                exp = /\.|\-/g;
                cpf = cpf.toString().replace( exp, "" ); 
                var digitoDigitado = eval(cpf.charAt(9)+cpf.charAt(10));
                var soma1=0, soma2=0;
                var vlr =11;

                for(i=0;i<9;i++){
                        soma1+=eval(cpf.charAt(i)*(vlr-1));
                        soma2+=eval(cpf.charAt(i)*vlr);
                        vlr--;
                }       
                soma1 = (((soma1*10)%11)==10 ? 0:((soma1*10)%11));
                soma2=(((soma2+(2*soma1))*10)%11);

                var digitoGerado=(soma1*10)+soma2;
                if(digitoGerado!=digitoDigitado)
                        return false;   
            }
             $(document).ready(function(){
            $(".select2").select2();
            $('#escolabundle_cgm_actions_cancel').removeClass("btn-default");
            $('#escolabundle_cgm_actions_cancel').addClass("btn-success");
        });
        
        $(document).ready(function () {

        // Add slimscroll to element
        $('.scroll_content').slimscroll({
            height: '200px'
        })

    });
    </script>
{% endblock %}
