{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block body %}
    {{parent()}}

    <div class="container">
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-dismissable alert-{{ label }}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
        <div id="container">
            <div class="character">
                <div class="row">
                    <div class="col-md-12">
                        <legend>Pesquisar médicos</legend>
                        <div class="col-md-12 column">
                            <form class="form-horizontal" action="{{path('medicoByEspecialidade')}}" method="post">
                                <div class="form-group form-group-lg">
                                    <label class="col-sm-2 control-label" for="especialidade">Interessados</label>
                                    <div class="col-sm-4">                    
                                        <select class="form-control" name="especialidade">
                                            <option value="">Selecione um interessado:</option>
                                            {% for especialidade in especialidades %}
                                                <option value="{{especialidade.idEspecialidade}}">{{especialidade.nomeEspecialidade}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" id="pesquisar" class="btn btn-default">Pesquisar</button>
                                    </div>
                                </div>
                            </form>
                            <br />
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Especialidade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if medicos is defined %}
                                        {% for medico in medicos %}
                                            <tr>
                                                <td>{{medico.nomeMedico}}</td>
                                                <td>{{medico.especialidadeEspecialidade.nomeEspecialidade}}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(document).on('click', '#saudebundle_medico_actions_voltar', function () {
            console.log('sfdfd');
            window.location.href = '{{path('gridMedico')}}';
        });
    </script>
{% endblock %}
