{% extends "::base.html.twig" %}

{% block body  %}
    {{parent()}}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Cadastros
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }} alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4>Alerta!</h4>
                        {{ flash }}
                    </div>
                {% endfor %}
            {% endfor %}
            <!-- Default box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cadastro de Postos de Saúde</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    {{ form_start(form, { 'style': 'horizontal' }) }}
                    <div class="nav-tabs-custom">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" >                        
                            <li role="presentation" class="active">
                                <a href="#psf" aria-controls="psf" role="tab" data-toggle="tab">Dados Gerais</a>
                            </li>
                            <li role="presentation">
                                <a href="#qtd_default" aria-controls="qtd_default" role="tab" data-toggle="tab">Quantidades Padrões por Especialista</a>
                            </li>                            
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">  

                            <div class="tab-pane active" id="psf">
                                <br>                                
                                {{ form_row(form.nomePsf) }}                                                         
                            </div>
                            <div class="tab-pane" id="qtd_default">
                                <br>   
                                {{ form_row(form.qtdDefaults)}}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}

                </div><!-- /.box-body -->
                <div class="box-footer">

                </div><!-- /.box-footer-->
            </div><!-- /.box -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0
        </div>
        <strong>Copyright &copy; 2004-2015 <a target="__blanck" href="http://www.serbinario.com.br/">Serbinário</a>.</strong> Todos os direitos reservados.
    </footer>
{% endblock %}

{% block javascripts %}     
    {{ parent() }}
    <script type="text/javascript" language="javascript" class="init">
        $(document).on("focusout", "#saudebundle_psf_nomePsf", function (event) {
            var nomePsf = $("#saudebundle_psf_nomePsf").val();
            $.ajax({
                url: "{{ path('validateNomePsf') }}", //URL solicitada
                dataType: "JSON", //Tipo de dado de transfência
                method: "POST",
                data: {"nome" : nomePsf},
                success: function (data) {
                    if(data) {
                        var html = '<span id="helpBlock2" class="help-block">ESTE POSTO JÁ ESTÁ CADASTRADO.</span>';
                        $("#saudebundle_psf_nomePsf").parent().removeClass("has-success");
                        $("#saudebundle_psf_nomePsf").parent().addClass("has-error");
                        $("#helpBlock2").remove();
                        $("#saudebundle_psf_nomePsf").parent().append(html);
                        $("#saudebundle_psf_nomePsf").focus();
                    } else {
                        var html = '<span id="helpBlock2" class="help-block">POSTO VÁLIDO.</span>';
                        $("#saudebundle_psf_nomePsf").parent().removeClass("has-error");
                        $("#saudebundle_psf_nomePsf").parent().addClass("has-success");
                        $("#helpBlock2").remove();
                        $("#saudebundle_psf_nomePsf").parent().append(html);
                    }                    
                }
            });
        });

        $("#saudebundle_psf_actions_voltar").click(function () {
            javascript:history.back();
        });
    </script>
{% endblock %}

