{% extends "::base.html.twig" %}

{% set menu = '1' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/plugins/dataTables/dataTables.bootstrap.css')}}" />
    <link rel="stylesheet" href="{{asset('css/plugins/dataTables/dataTables.responsive.css')}}" />
    <style type="text/css" class="init">
        #example tbody tr {
            cursor: pointer;
        }
        
        td.details-control {
            background: url({{asset("imagens/icone-produto-plus.png")}}) no-repeat center center;
            cursor: pointer;
        }
        tr.details td.details-control {
            background: url({{asset("imagens/icone-produto-minus.png")}}) no-repeat center center;
        }

        a.editar {
            background: url({{asset("imagens/icone-editar.png")}}) no-repeat 0 0;
            width: 20px;
        }

        a.visualizar {
            background: url({{asset("imagens/icone-visualizar.png")}}) no-repeat 0 0;
            width: 20px;
        }

        a.excluir {
            background: url({{asset("imagens/icone-excluir.png")}}) no-repeat 0 0;
            width: 20px;
        }

        td.bt {
            padding: 10px 0;
            width: 126px;
        }

        td.bt a {
            float: left;
            height: 22px;
            margin: 0 10px;
        }
        .highlight {
            background-color: #FE8E8E;
        }
        .table-responsive {
            min-height: 0.01%;
            overflow-x: initial;
        }
    </style>
{% endblock %}

{% block body  %}
    {{parent()}}

    <div id="page-wrapper" class="gray-bg">

        {% include 'SaudeBundle:Default:menu_topo.html.twig' %}

        {# título da página  #}
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
                <h2>Cadastros</h2>
                {#<ol class="breadcrumb">
                    <li>
                        <a href="index.html">This is</a>
                    </li>
                    <li class="active">
                        <strong>Breadcrumb</strong>
                    </li>
                </ol>#}
            </div>
        </div>

        {# Conteúdo principal   #}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4>Alerta!</h4>
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Cadastro de Especialistas</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="fullscreen-link">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            {{ form_start(form, { 'style': 'horizontal', 'attr': {'id': 'formulario'}}) }}
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li role="presentation"class="active">
                                        <a href="#informacaoPessoal"aria-controls="informacaoPessoal"role="tab"data-toggle="tab">
                                            Informação Pessoal</a >
                                    </li >
                                    <li role="presentation">
                                        <a href="#agendaPadrao"aria-controls="agendaPadrao"role="tab"data-toggle="tab">
                                            Informações Padrão da Agenda</a >
                                    </li >
                                </ul >
                                <div class="tab-content">
                                    <div class="tab-pane active"id="informacaoPessoal">
                                        <br />
                                        <div class="form-group">
                                            {{ form_label(form.cgm) }}
                                            <div class="col-lg-6">
                                                <div class="input-group">                                                    
                                                    {{ form_widget(form.cgm) }}
                                                    <span class="input-group-addon">
                                                        <a id="link_busca_cgm" style="text-decoration: none; color: #565656; font-weight: 100" href="#">BUSCAR</a>
                                                    </span>
                                                </div> 
                                            </div>                                            
                                        </div>
                                        
                                        {{ form_row(form.emailMedico) }}
                                        {{ form_row(form.especialidadeEspecialidade) }}
                                        {{ form_row(form.foto) }}
                                    </div>    
                                    <div class="tab-pane"id="agendaPadrao">
                                        <br />
                                        {{ form_row(form.quantidadeVagas) }}
                                        {{ form_row(form.horarioInicio) }}
                                        {{ form_row(form.horarioFim) }}
                                        {{ form_row(form.localidade) }}
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <div class="ibox-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
                        
        <!-- Modal de busca de cgm do especialista -->
        <div class="modal fade modal-profile" tabindex="-1" role="dialog" aria-labelledby="modalProfile" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Selecione um cadastro geral municipal</h4>
                    </div>
                    <div class="modal-body" style="alignment-baseline: central">
                        <table id="example" class="display table table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nome</th>                                                    
                                    <th>CPF</th>                                                    
                                </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                    <th>Código</th>
                                    <th>Nome</th>                                                    
                                    <th>CPF</th>                                                    
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    {#<div class="modal-footer">                                            
                        <button class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>#}
                </div>
            </div>
        </div>

        {% include 'SaudeBundle:Default:rodape.html.twig' %}
        
    </div>

{% endblock %}
{% block javascripts %}     
    {{ parent() }}
    <script type="text/javascript" src="{{asset('js/validacoes/validationForm_medico.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/plugins/jeditable/jquery.jeditable.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/plugins/dataTables/jquery.dataTables.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/plugins/dataTables/dataTables.bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/plugins/dataTables/dataTables.responsive.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/shCore.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/javax_faces.js')}}"></script>
    <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function ()
        {
            //Evento para voltar a tela
            $("#saudebundle_medico_actions_voltar").click(function () {
                location.href = '{{path('gridMedico')}}'
            }); 
            
            //Evento para exibir o modal
            $("#link_busca_cgm").click(function () {
                $(".modal-profile").modal({show: true}); 
            });         
            
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });
            
            $('#saudebundle_medico_actions_voltar').removeClass("btn-default");
            $('#saudebundle_medico_actions_voltar').addClass("btn-success");
            
            var dt = $('#example').DataTable({
                "lengthMenu": [5],    
                "processing": true,
                "serverSide": true,
                "bFilter": true, //Ativa o Search global
                "ajax": {
                    "url": "{{ path('gridCGMForModal') }}",
                    "type": "POST"
                },
                "columns": [
                    {"data" : "id"},
                    {"data": "nome"},                  
                    {"data": "cpf"} 
                ],
                "order": [[1, 'asc']],
                language: {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });
            
            $("div.dataTables_filter input").unbind();
            
            $(document).keypress(function(e) {
                if(e.which == 13) {
                    var valor = $("div.dataTables_filter input").val();
                   
                    if(valor.length > 2) {                    
                        dt.search(valor).draw();
                    } else {
                        alert("Você deve digitar no mínimo 3 caracteres");
                    }                   
                }
            });
    
            

            // Array to track the ids of the details displayed rows
            var detailRows = [];
            
            //Evento para preencher o campo de cgm
            $('#example tbody').on('click', 'tr', function () {
                var tr    = $(this).closest('tr');
                var row   = dt.row(tr);
                var dados = row.data();  
                
                $("#saudebundle_medico_cgm").val(dados.id + " - " + dados.nome);
                $(".modal-profile").modal('toggle');
                               
            });

           {# $('#example tbody').on('click', 'tr td:first-child', function () {
                var tr = $(this).closest('tr');
                var row = dt.row(tr);
                var idx = $.inArray(tr.attr('id'), detailRows);

                if (row.child.isShown()) {
                    tr.removeClass('details');
                    row.child.hide();

                    // Remove from the 'open' array
                    detailRows.splice(idx, 1);
                }

                else {
                    tr.addClass('details');
                    row.child(format(row.data())).show();

                    // Add to the 'open' array
                    if (idx === -1) {
                        detailRows.push(tr.attr('id'));
                    }
                }
            });#}

            // On each draw, loop over the `detailRows` array and show any child rows
            dt.on('draw', function () {
                $.each(detailRows, function (i, id) {
                    $('#' + id + ' td:first-child').trigger('click');
                });
            });

            // Apply the search -- EUUUUUUUUUUUUUUUUUUUUUUUUU
            dt.columns().eq(0).each(function (colIdx) {
                $('input', dt.column(colIdx).footer()).on('keyup change', function () {
                    dt
                            .column(colIdx)
                            .search(this.value)
                            .draw();
                });
            });

        });                   
    </script>
{% endblock %}