{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block body %}
    {{parent()}}

    <div class="container">
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-dismissable alert-{{ label }}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
        <div id="container">
            <div class="character">
                <div class="row">
                    <div class="col-md-12">
                        <legend>Cadastro de Médico</legend>
                        <div class="col-md-13 column">
                            {{ form_start(form, { 'style': 'horizontal', 'attr': {'id': 'formulario'}}) }}                    
                            {{ form_row(form.nomeMedico) }}
                            {{ form_row(form.emailMedico) }}
                            {{ form_row(form.especialidadeEspecialidade) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $(document).on('click', '#saudebundle_medico_actions_voltar', function () {
            console.log('sfdfd');
            window.location.href = '{{path('gridMedico')}}';
        });
    </script>
{% endblock %}
